<a href="https://colab.research.google.com/github/robimalco/colab/blob/main/Home_Credit_Default_Risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# START SETUP

In [1]:
!pip install -q kaggle

In [2]:
from google.colab import files

In [ ]:
files.upload()

In [ ]:
# !mkdir ~/.kaggle
# !cp kaggle.json ~/.kaggle/
# !chmod 600 ~/.kaggle/kaggle.json

In [8]:
# !mkdir ~/.kaggle
!cp kaggle.json /root/.kaggle
!chmod 600 /root/.kaggle/kaggle.json
!rm -rf sample_data

In [ ]:
!kaggle competitions download -c home-credit-default-risk

In [ ]:
!unzip POS_CASH_balance.csv.zip
!unzip application_test.csv.zip
!unzip application_train.csv.zip
!unzip bureau.csv.zip
!unzip bureau_balance.csv.zip
!unzip credit_card_balance.csv.zip
!unzip installments_payments.csv.zip
!unzip previous_application.csv.zip

In [11]:
!rm -rf *.zip

In [12]:
import pandas as pd
import numpy as np

In [13]:
pd.set_option('display.max_columns', None)

# Files

*   application_{train|test}.csv --> main table, static data for all applications. One row represents one loan in our data sample.
*   bureau.csv -->  client's previous credits, for every loan in our sample, there are as many rows as number of credits the client had.
*   bureau_balance.csv --> monthly balances of previous credits, one row for each month.
*   POS_CASH_balance.csv --> monthly balance snapshots of previous point of sales and cash loans that the applicant had, one row for each month.
*   credit_card_balance.csv --> monthly balance snapshots of previous credit cards, one row for each month.
*   previous_application.csv --> all previous applications for Home Credit loans of clients who have loans.
*   installments_payments.csv --> repayment history for the previously disbursed credits.

# Load all data into pandas dataframes

In [15]:
application_train_df = pd.read_csv('application_train.csv')
application_test_df = pd.read_csv('application_test.csv')
bureau_df = pd.read_csv('bureau.csv')
bureau_balance_df = pd.read_csv('bureau_balance.csv')
pos_cash_balance_df = pd.read_csv('POS_CASH_balance.csv')
credit_card_balance_df = pd.read_csv('credit_card_balance.csv')
previous_application_df = pd.read_csv('previous_application.csv')
installments_payments_df = pd.read_csv('installments_payments.csv')

# Function utilities

In [16]:
def split_columns_by_type(input_df):
  numerical_columns = []
  categorical_columns = []
  for column in application_train_df.columns:
    if application_train_df.dtypes[column] == np.int64 or application_train_df.dtypes[column] == np.float64:
      numerical_columns.append(column)
    else:
      categorical_columns.append(column)
  return numerical_columns, categorical_columns

In [58]:
def smart_overview(input_df, numerical_columns):
  list_of_numerics = input_df.select_dtypes(include=['float', 'int']).columns
  countUnique = [len(input_df[column].unique()) for column in input_df.columns]
  corrSalePrice = round(input_df[numerical_columns].corrwith(input_df['TARGET']), 3) * 100
  types = input_df.dtypes
  missing = round((input_df.isnull().sum()/input_df.shape[0]),3)*100
  overview = input_df.apply(
      lambda x: [
        round(x.min()), 
        round(x.max()), 
        round(x.mean()), 
        round(x.quantile(0.5))
      ] if x.name in list_of_numerics else x.unique())
  outliers = input_df.apply(
      lambda x: sum(
          (x<(x.quantile(0.25)-1.5*(x.quantile(0.75)-x.quantile(0.25)))) | 
          (x>(x.quantile(0.75)+1.5*(x.quantile(0.75)-x.quantile(0.25)))) 
        if x.name in list_of_numerics else ''))
  explore_df = pd.DataFrame({
    'Types': types,
    'Unique': countUnique,
    'CorrSalePrice%': corrSalePrice,
    'Missing%': missing,
    'Overview': overview,
    'Outliers': outliers
  })
  explore_df['Types'] = explore_df['Types'].astype(str)
  return explore_df.transpose()

# Data Exploration

## application_{train|test}.csv

In [59]:
application_train_columns = list(application_train_df.columns)
application_train_columns.sort()
application_train_df = application_train_df[application_train_columns]

In [68]:
temp_columns_type = split_columns_by_type(application_train_df)
temp_numerical_columns = temp_columns_type[0]
smart_overview(application_train_df, temp_numerical_columns)

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,APARTMENTS_AVG,APARTMENTS_MEDI,APARTMENTS_MODE,BASEMENTAREA_AVG,BASEMENTAREA_MEDI,BASEMENTAREA_MODE,CNT_CHILDREN,CNT_FAM_MEMBERS,CODE_GENDER,COMMONAREA_AVG,COMMONAREA_MEDI,COMMONAREA_MODE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE,DAYS_REGISTRATION,DEF_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,ELEVATORS_AVG,ELEVATORS_MEDI,ELEVATORS_MODE,EMERGENCYSTATE_MODE,ENTRANCES_AVG,ENTRANCES_MEDI,ENTRANCES_MODE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_CONT_MOBILE,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_2,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_EMAIL,FLAG_EMP_PHONE,FLAG_MOBIL,FLAG_OWN_CAR,FLAG_OWN_REALTY,FLAG_PHONE,FLAG_WORK_PHONE,FLOORSMAX_AVG,FLOORSMAX_MEDI,FLOORSMAX_MODE,FLOORSMIN_AVG,FLOORSMIN_MEDI,FLOORSMIN_MODE,FONDKAPREMONT_MODE,HOUR_APPR_PROCESS_START,HOUSETYPE_MODE,LANDAREA_AVG,LANDAREA_MEDI,LANDAREA_MODE,LIVE_CITY_NOT_WORK_CITY,LIVE_REGION_NOT_WORK_REGION,LIVINGAPARTMENTS_AVG,LIVINGAPARTMENTS_MEDI,LIVINGAPARTMENTS_MODE,LIVINGAREA_AVG,LIVINGAREA_MEDI,LIVINGAREA_MODE,NAME_CONTRACT_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,NAME_INCOME_TYPE,NAME_TYPE_SUITE,NONLIVINGAPARTMENTS_AVG,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_AVG,NONLIVINGAREA_MEDI,NONLIVINGAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,OCCUPATION_TYPE,ORGANIZATION_TYPE,OWN_CAR_AGE,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,SK_ID_CURR,TARGET,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
Types,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,int64,float64,object,float64,float64,float64,int64,int64,int64,float64,float64,float64,float64,float64,float64,float64,object,float64,float64,float64,float64,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,object,object,int64,int64,float64,float64,float64,float64,float64,float64,object,int64,object,float64,float64,float64,int64,int64,float64,float64,float64,float64,float64,float64,object,object,object,object,object,object,float64,float64,float64,float64,float64,float64,float64,float64,object,object,float64,float64,int64,int64,int64,int64,int64,int64,int64,int64,float64,object,object,float64,float64,float64,float64,float64,float64
Unique,13673,5603,1003,2548,10,6,25,12,10,26,2340,1149,761,3781,3773,3842,15,18,3,3182,3203,3129,17460,12574,6168,3774,15688,11,10,258,47,27,3,286,47,31,114585,119832,815,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,404,50,26,306,48,26,5,24,4,3528,3561,3564,2,2,1869,1098,737,5200,5282,5302,2,5,6,6,8,8,387,215,168,3291,3324,3328,34,34,19,58,63,81,3,3,2,2,2,2,307511,2,5117,8,7,286,246,222,150,152,155
CorrSalePrice%,-1.3,-3,-4,-0.4,0.3,0.1,-1.2,-0.2,0.1,2,-2.9,-2.9,-2.7,-2.3,-2.2,-2,1.9,0.9,NaN,-1.9,-1.9,-1.6,7.8,-4.5,5.1,5.5,4.2,3.2,3.1,-3.4,-3.4,-3.2,NaN,-1.9,-1.9,-1.7,-15.5,-16,-17.9,0,-0.1,-0.4,-0.1,-1.2,-0.9,-0.7,-1.2,-0.3,-0.8,-0.1,0.5,0,0.4,4.4,-0.3,-0,-2.9,-0.2,-0.8,-0.4,-0.2,4.6,0.1,NaN,NaN,-2.4,2.9,-4.4,-4.4,-4.3,-3.4,-3.3,-3.3,NaN,-2.4,NaN,-1.1,-1.1,-1,3.3,0.3,-2.5,-2.5,-2.3,-3.3,-3.3,-3.1,NaN,NaN,NaN,NaN,NaN,NaN,-0.3,-0.3,-0.2,-1.4,-1.3,-1.3,0.9,0.9,NaN,NaN,3.8,-3.7,5.9,6.1,4.4,5.1,0.6,0.7,-0.2,100,-3.3,NaN,NaN,-1,-1,-0.9,-2.2,-2.2,-2.2
Missing%,0,0,0.1,0,13.5,13.5,13.5,13.5,13.5,13.5,50.7,50.7,50.7,58.5,58.5,58.5,0,0,0,69.9,69.9,69.9,0,0,0,0,0,0.3,0.3,53.3,53.3,53.3,47.4,50.3,50.3,50.3,56.4,0.2,19.8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,49.8,49.8,49.8,67.8,67.8,67.8,68.4,0,50.2,59.4,59.4,59.4,0,0,68.4,68.4,68.4,50.2,50.2,50.2,0,0,0,0,0,0.4,69.4,69.4,69.4,55.2,55.2,55.2,0.3,0.3,31.3,0,66,0,0,0,0,0,0,0,0,0,48.3,50.8,0,48.8,48.8,48.8,66.5,66.5,66.5
Overview,"[1616, 258026, 27109, 24903.0]","[45000, 4050000, 599026, 513531.0]","[40500, 4050000, 538396, 450000.0]","[25650, 117000000, 168798, 147150.0]","[0, 9, 0, 0.0]","[0, 4, 0, 0.0]","[0, 27, 0, 0.0]","[0, 261, 0, 0.0]","[0, 8, 0, 0.0]","[0, 25, 2, 1.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 19, 0, 0.0]","[1, 20, 2, 2.0]","[M, F, XNA]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[-25229, -7489, -16037, -15750.0]","[-17912, 365243, 63815, -1213.0]","[-7197, 0, -2994, -3254.0]","[-4292, 0, -963, -757.0]","[-24672, 0, -4986, -4504.0]","[0, 34, 0, 0.0]","[0, 24, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[No, nan, Yes]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 1, 1.0]","[0, 1, 1, 1.0]","[0, 1, 1, 1.0]","[0, 1, 1, 1.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 1, 1.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 1, 1.0]","[0, 1, 1, 1.0]","[N, Y]","[Y, N]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[reg oper account, nan, org spec account, reg ...","[0, 23, 12, 12.0]","[block of flats, nan, terraced house, specific...","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[Cash loans, Revolving loans]","[Secondary / secondary special, Higher educati...","[Single / not married, Married, Civil marriage...","[House / apartment, Rented apartment, With par...","[Working, State servant, Commercial associate,...","[Unaccompanied, Family, Spouse, partner, Child...","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 348, 1, 0.0]","[0, 344, 1, 0.0]","[Laborers, Core staff, Accountants, Managers, ...","[Business Entity Type 3, School, Government, R...","[0, 91, 12, 9.0]","[0, 0, 0, 0.0]","[1, 3, 2, 2.0]","[1, 3, 2, 2.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[100002, 456255, 278181, 278202.0]","[0, 1, 0, 0.0]","[0, 1, 0, 0.0]","[Stone, brick, Block, nan, Panel, Mixed, Woode...","[WEDNESDAY, MONDAY, THURSDAY, SUNDAY, SATURDAY...","[0, 1, 1, 1.0]","[0, 1, 1, 1.0]","[0, 1, 1, 1.0]","[0, 1, 1, 1.0]","[0, 1, 1, 1.0]","[0, 1, 1, 1.0]"
Outliers,7504,6562,14728,14035,1489,1626,43759,50575,8536,3364,10655,10728,10397,7190,7188,6910,4272,4007,0,7942,8004,7938,0,72217,0,435,659,35166,25769,10420,10383,9732,0,3882,3893,3840,0,0,0,574,7,1203,2,1084,903,372,3053,82,2500,183,13,156,103,0,25,4648,27078,59,25024,1198,17442,55386,1,0,0,0,61308,5215,5360,5104,343,344,320,0,2257,0,6888,6873,7033,55215,12503,7881,7927,7469,12517,12907,13105,0,0,0,0,0,0,15580,15215,14224,16546,17254,18817,19971,19564,0,0,4932,8412,80527,78027,24039,70867,4657,15612,0,24825,12091,0,0,4784,4762,5074,2154,2274,2537

In [69]:
application_train_df.head(5)

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,APARTMENTS_AVG,APARTMENTS_MEDI,APARTMENTS_MODE,BASEMENTAREA_AVG,BASEMENTAREA_MEDI,BASEMENTAREA_MODE,CNT_CHILDREN,CNT_FAM_MEMBERS,CODE_GENDER,COMMONAREA_AVG,COMMONAREA_MEDI,COMMONAREA_MODE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE,DAYS_REGISTRATION,DEF_30_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,ELEVATORS_AVG,ELEVATORS_MEDI,ELEVATORS_MODE,EMERGENCYSTATE_MODE,ENTRANCES_AVG,ENTRANCES_MEDI,ENTRANCES_MODE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,FLAG_CONT_MOBILE,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_2,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_EMAIL,FLAG_EMP_PHONE,FLAG_MOBIL,FLAG_OWN_CAR,FLAG_OWN_REALTY,FLAG_PHONE,FLAG_WORK_PHONE,FLOORSMAX_AVG,FLOORSMAX_MEDI,FLOORSMAX_MODE,FLOORSMIN_AVG,FLOORSMIN_MEDI,FLOORSMIN_MODE,FONDKAPREMONT_MODE,HOUR_APPR_PROCESS_START,HOUSETYPE_MODE,LANDAREA_AVG,LANDAREA_MEDI,LANDAREA_MODE,LIVE_CITY_NOT_WORK_CITY,LIVE_REGION_NOT_WORK_REGION,LIVINGAPARTMENTS_AVG,LIVINGAPARTMENTS_MEDI,LIVINGAPARTMENTS_MODE,LIVINGAREA_AVG,LIVINGAREA_MEDI,LIVINGAREA_MODE,NAME_CONTRACT_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,NAME_INCOME_TYPE,NAME_TYPE_SUITE,NONLIVINGAPARTMENTS_AVG,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_AVG,NONLIVINGAREA_MEDI,NONLIVINGAREA_MODE,OBS_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,OCCUPATION_TYPE,ORGANIZATION_TYPE,OWN_CAR_AGE,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,SK_ID_CURR,TARGET,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
0,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0247,0.0250,0.0252,0.0369,0.0369,0.0383,0,1.0,M,0.0143,0.0144,0.0144,-9461,-637,-2120,-1134.0,-3648.0,2.0,2.0,0.00,0.00,0.0000,No,0.0690,0.0690,0.0690,0.083037,0.262949,0.139376,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,N,Y,1,0,0.0833,0.0833,0.0833,0.1250,0.1250,0.1250,reg oper account,10,block of flats,0.0369,0.0375,0.0377,0,0,0.0202,0.0205,0.022,0.0190,0.0193,0.0198,Cash loans,Secondary / secondary special,Single / not married,House / apartment,Working,Unaccompanied,0.0000,0.0000,0.0,0.0000,0.00,0.0,2.0,2.0,Laborers,Business Entity Type 3,NaN,0.018801,2,2,0,0,0,0,100002,1,0.0149,"Stone, brick",WEDNESDAY,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341
1,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0959,0.0968,0.0924,0.0529,0.0529,0.0538,0,2.0,F,0.0605,0.0608,0.0497,-16765,-1188,-291,-828.0,-1186.0,0.0,0.0,0.08,0.08,0.0806,No,0.0345,0.0345,0.0345,0.311267,0.622246,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,N,N,1,0,0.2917,0.2917,0.2917,0.3333,0.3333,0.3333,reg oper account,11,block of flats,0.0130,0.0132,0.0128,0,0,0.0773,0.0787,0.079,0.0549,0.0558,0.0554,Cash loans,Higher education,Married,House / apartment,State servant,Family,0.0039,0.0039,0.0,0.0098,0.01,0.0,1.0,1.0,Core staff,School,NaN,0.003541,1,1,0,0,0,0,100003,0,0.0714,Block,MONDAY,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040
2,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,M,NaN,NaN,NaN,-19046,-225,-2531,-815.0,-4260.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.555912,0.729567,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,Y,Y,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Revolving loans,Secondary / secondary special,Single / not married,House / apartment,Working,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Laborers,Government,26.0,0.010032,2,2,0,0,0,0,100004,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN
3,29686.5,312682.5,297000.0,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2.0,F,NaN,NaN,NaN,-19005,-3039,-2437,-617.0,-9833.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.650442,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,N,Y,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Civil marriage,House / apartment,Working,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,Laborers,Business Entity Type 3,NaN,0.008019,2,2,0,0,0,0,100006,0,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN
4,21865.5,513000.0,513000.0,121500.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,M,NaN,NaN,NaN,-19932,-3038,-3458,-1106.0,-4311.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.322738,NaN,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,N,Y,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,1,0,NaN,NaN,NaN,NaN,NaN,NaN,Cash loans,Secondary / secondary special,Single / not married,House / apartment,Working,Unaccompanied,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,Core staff,Religion,NaN,0.028663,2,2,0,1,0,0,100007,0,NaN,NaN,THURSDAY,NaN,NaN,NaN,NaN,NaN,NaN